@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
  overflow: hidden;
}



.container {
    margin-top: 7rem;
    font-family: "Montserrat", serif;
    justify-content: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.container .form-box h3 {
    font-size: 24px;
    text-align: center;
    color: #0056b3;
}

.container .form-box {
    background-color: #fff;
    border: 2px solid rgb(238, 234, 234);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.07);
    padding: 1rem;
    width: 100%;
    max-width: 292px;
    height: 100%;
    max-height: 500px;
}

.form-box {
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box; 
}

input[type=password] {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    background-color: #e7d9d9;
}

input[type=password]:focus {
    background-color: #fff;
}

input:-webkit-autofill {
    background-color: #fff !important;
    color: #333 !important;
}

button {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
    width: 100%;
}

.field button {
    text-align: center;
    color: #0056b3; 
}

button:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81,41,10,0.15), 0px 1px 1px rgba(81,41,10,0.15);
    transform: translateY(0.125rem);
}

button:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

button:hover {
    background-color: #0056b3;
}
